.elementor-358 .elementor-element.elementor-element-5dd64df{text-transform:uppercase;}.elementor-358 .elementor-element.elementor-element-5dd64df > .elementor-widget-container{margin:50px 0px 0px 0px;}.elementor-358 .elementor-element.elementor-element-0b33c91{text-align:center;}.elementor-358 .elementor-element.elementor-element-0b33c91 .elementor-heading-title{color:#000000;text-transform:uppercase;}.elementor-358 .elementor-element.elementor-element-0b33c91 > .elementor-widget-container{margin:50px 50px 50px 0px;}.elementor-358 .elementor-element.elementor-element-5c595eb{color:#000000;}/* Start custom CSS for text-editor, class: .elementor-element-5c595eb */.forma-origi {
    display: inline-block;
    border: 1px solid lightgray;
    padding: 10px
}/* End custom CSS */
/* Start custom CSS */td {
    border-color: lightgray!important;
}/* End custom CSS */